<div class="mat-elevation-z8">
  <mat-card>
      <div class="icon-div">
          <mat-icon>https</mat-icon>
      </div>
      <mat-card-header>
          <div class="card-title">
              <mat-card-title>Login</mat-card-title>
          </div>
      </mat-card-header>
  
      <mat-card-content>

          <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

              <mat-form-field appearance="outline">
              <mat-label>Enter username</mat-label>
              <input formControlName="email" matInput />
              <mat-error *ngIf="loginFormControl['email'].errors?.['required']">Required username</mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline">
              <mat-label>Enter your password</mat-label>
              <input formControlName="password" matInput [type]="hide ? 'password' : 'text'"/>
              <mat-error *ngIf="loginFormControl['password'].errors?.['required']">Required password</mat-error>
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
              </button>
              </mat-form-field>

      <mat-card-actions>
        <button type="submit" mat-raised-button color="primary">Login</button>
        <a class="new-account" routerLink="/signup"><span>Create Account</span></a>
      </mat-card-actions>
    
          </form>
      </mat-card-content>
  </mat-card>
</div>
