.topnav-right {
  float: right !important;
 
}

.mat-form-field{
  font-size: 14px;
  width: 100%;
  margin: auto;
  
}
.parent {
  display: flex;
  justify-content: center;
  align-items: center;
width: 90%;
flex-direction: column;  
margin: auto;
}

table {
  width: 100%;
  margin: auto;
 
}

.matpaginator{
  width: 100%;
  margin: auto;

}

.mat-elevation-z8{
  width: 100%;
  margin: auto;
}

.btn-add-user{
margin-top: 5px;

align-self: flex-end;

}

